[Desktop Entry]
Name=QR Handler
GenericName=QR code scanner & generator
Comment=Scan, read, or generate QR codes (camera or on-screen); Wi-Fi login & share
Exec=qr-handler
Icon=view-barcode-qr
Terminal=false
Type=Application
Categories=Utility;Network;
Keywords=qr;qrcode;scan;camera;wifi;password;share;read;barcode;
